<!DOCTYPE html>
<html>
<head>
    <title>3D Box Packing Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <h1>3D Box Packing Calculator</h1>
    </header>

    <main>
        <div id="baseBox">
            <h2>Enter Base Box Dimensions</h2>
            <label for="baseLength">Height:</label>
            <input type="number" id="baseLength" required />
            <label for="baseWidth">Width:</label>
            <input type="number" id="baseWidth" required />
            <label for="baseHeight">Length:</label>
            <input type="number" id="baseHeight" required />
        </div>
        
        <div id="inputForm">
            <h2>Enter Box Dimensions</h2>
            <form id="boxForm">
                <div id="boxes">
                    <div class="boxInput">
                        <h3>Box 1: <input type="text" id="boxName0" placeholder="Box Name" required /></h3>
                        <label for="length0">Height:</label>
                        <input type="number" id="length0" required />
                        <label for="width0">Width:</label>
                        <input type="number" id="width0" required />
                        <label for="height0">Length:</label>
                        <input type="number" id="height0" required />
                        <label for="weight0">Weight(Kg):</label>
                        <input type="number" id="weight0" required />
                        <label for="fragile0">Fragile:</label>
                        <select id="fragile0" required>
                            <option value="false">Not Fragile</option>
                            <option value="true">Fragile</option>
                        </select>
                    </div>
                </div>

                <button type="button" id="addBoxBtn">Add Another Box</button>
                <button type="button" id="calculateBtn">Calculate</button>
            </form>
        </div>

        <div id="container3D"></div>
        <div id="tooltip"></div>
    </main>

    <script type="module" src="{{ url_for('static', filename='main.js') }}" defer></script>
</body>
</html>
